/**/
.planos {
    text-align: center;
    padding: 50px 20px;
    background-color:#0B0C10;
    margin-top: 80px;
  }
  .container-planos {
    display: flex;
    justify-content: center;
    gap:60px;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: stretch;
  }
  .plano {
    background-color: rgb(235, 234, 234);
    padding: 40px 30px;
    border-radius: 20px;
    width: 350px;
    /*box-shadow: 4px 12px rgba(0, 0, 0.692);*/
    transition: transform 0.2s;
    display:flex;
    flex-direction: column;
  }
  .plano:hover {
    transform: scale(1.03);
  }
  .planos h1 {
    color: #9b0707;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .legenda {
    text-align: left;
    color: #000000;
    padding: 5px 10px;
  }
  .plano h3 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
  }
  .preco {
    font-size: 30px;
    color: #000000;
    margin: 10px 0;
    margin-bottom: 15px;
  }
  .plano ul {
  list-style-type: none;
  padding-left: 0px; 
  text-align: left; 
  margin-top: 15px;
  color: #000000; 
  font-size: 16px;
  line-height: 2.0;
  flex-grow: 1;
}

.plano ul li {
  margin-bottom: 20px; 
  color: #000000;
  line-height: 1.4;
}

.btn {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  padding: 10px 40px;
  background: #000000;
  color: #fff;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.10s ease, box-shadow 0.10s ease;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  text-decoration: none;
   margin-top: auto;
  -webkit-appearance: none; /* remove aparência padrão no Safari */
  -moz-appearance: none;    /* remove aparência padrão no Firefox */
  appearance: none;         /* remove aparência padrão em geral */
  width: 140px; /* ou o valor que quiser */
  box-sizing: border-box; /* para garantir o padding dentro da largura */
  }
  
.btn:hover {
  background-color: #9b0707;
  text-decoration: none;
}

/*teste*/
/* disponíveis*/
.plano ul li[data-disponivel="true"]::before {
  content: "✅";
  margin-right: 8px;
  color:#28a745;
}

/*indisponíveis*/
.plano ul li[data-disponivel="false"] span {
  color: #302e2e;
  text-decoration: line-through;
}

.plano ul li[data-disponivel="false"]::before {
  content: "🚫 ";
  margin-right: 8px;
  color: red;
}
